<header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- offcanvas-trigger-effects -->
                <h1 class="logo navbar-brand">@Html.ActionLink("Stock Management System", "Index", "Home")</h1>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#">About <b class="caret"></b></a>
                        <!-- submenu-wrapper -->
                        <div class="submenu-wrapper submenu-wrapper-topbottom">
                            <div class="submenu-inner  submenu-inner-topbottom">
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Our Service", "about", "Home")</li>
                                    <li>@Html.ActionLink("Our Advantages", "Advantages", "Home")</li>
                                    <li>@Html.ActionLink("Our Project", "Project", "Home")</li>
                                    <li>@Html.ActionLink("Our Client", "Client", "Home")</li>
                                </ul>
                            </div><!-- /.submenu-inner -->
                        </div> <!-- /.submenu-wrapper -->
                    </li>
                    <li class="dropdown">
                        <a href="#">Blog <b class="caret"></b></a>
                        <!-- submenu-wrapper -->
                        <div class="submenu-wrapper submenu-wrapper-topbottom">
                            <div class="submenu-inner  submenu-inner-topbottom">
                                <ul class="dropdown-menu">
                                    <li><a href="blog.html">Blog Standard</a></li>
                                    <li><a href="blog-single.html">Blog Single</a></li>
                                </ul>
                            </div><!-- /.submenu-inner -->
                        </div> <!-- /.submenu-wrapper -->
                    </li>
                    <li class="dropdown">
                        <a href="#">Portfolio <b class="caret"></b></a>
                        <!-- submenu-wrapper -->
                        <div class="submenu-wrapper submenu-wrapper-topbottom">
                            <div class="submenu-inner  submenu-inner-topbottom">
                                <ul class="dropdown-menu">
                                    <li><a href="portfolio-four.html">Portfolio Four Col</a></li>
                                    <li><a href="portfolio-three.html">Portfolio Three Col</a></li>
                                    <li><a href="portfolio-two.html">Portfolio Two Col</a></li>
                                </ul>
                            </div><!-- /.submenu-inner -->
                        </div> <!-- /.submenu-wrapper -->
                    </li>

                    <li class="dropdown">
                        <a href="#">Pages <b class="caret"></b></a>
                        <!-- submenu-wrapper -->
                        <div class="submenu-wrapper submenu-wrapper-topbottom">
                            <div class="submenu-inner  submenu-inner-topbottom">
                                <ul class="dropdown-menu">
                                    <li><a href="job-page.html">Job Page</a></li>
                                    <li><a href="clients-page.html">Clients Page</a></li>
                                    <li><a href="faq.html">FAQ Page</a></li>
                                    <li><a href="typography.html">Typography</a></li>
                                </ul>
                            </div><!-- /.submenu-inner -->
                        </div> <!-- /.submenu-wrapper -->
                    </li>
                    <li>@Html.ActionLink("Contact","Contact","Home")</li>
                    <li>@Html.ActionLink("Admin","Index","Admin")</li>
                </ul>
            </div><!-- /.navbar-collapse -->

        </div><!-- /.container -->
    </nav>
</header>